$lt-gray: #ddd;
$background-pale: #f0f2fe;
$boldtext: #e60590;
$button-color: #512da8;
$wt: white;
$bl: black;
$orange: #fbc826;
$blue: rgb(31, 31, 100);

$boxshadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
$blog-gradient: linear-gradient(rgba(19, 18, 18, 0.4), rgba(12, 12, 12, 0.4));
$gradient: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
$brightness: brightness(0.7);
$gradient2: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.7));
$break-small: 600px;
$break-middle: 740px;

.col-3 {
  width: 33.3%;
  float: left;
}
.col-9 {
  width: 66.6%;
  float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: $break-small) {
  .col-9 {
    width: 100%;
  }
}
@media screen and (max-width: $break-small) {
  .col-3 {
    width: 100%;
  }
}
@media screen and (min-width: $break-small) {
  .col-9 {
    width: 100%;
  }
}
@media screen and (min-width: $break-small) {
  .col-3 {
    width: 100%;
  }
}

@media screen and (min-width: $break-middle) {
  .col-9 {
    width: 66.6%;
  }
}
@media screen and (min-width: $break-middle) {
  .col-3 {
    width: 33.3%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  width: 100%;
  min-height: 350px;
  padding: 0px;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 30%;

  .mainInfo {
    color: $bl;
    margin: 80px 60px 10px;
    h1 {
      font-size: 60px;
      color: $bl;
      span {
        color: $orange;
        text-shadow: $boxshadow;
      }
    }

    @media screen and (max-width: $break-small) {
      font-size: inherit;

      h1 {
        font-size: 40px;
      }
    }

    @media screen and (max-width: $break-small) {
      font-size: inherit;
      flex: 100%;
      align-items: flex-start;
      display: inline;
      justify-content: start;
      margin: 60px 26px;
      padding-top: 30px;
    }
  }
}

.testimonials {
  .col-9 {
    .title {
      display: flex;
      text-align: left;
      margin: 0 auto;
      justify-content: left;
      color: $bl;
      a {
        text-decoration: none;
        margin: 30px 60px 20px;
        color: $bl;
        font-size: 40px;
        font-weight: 500;
      }

      .active {
        position: relative;
        margin: 30px 60px 20px;
        &:first-of-type {
          margin-top: 1.25rem;
          &:before {
            content: "";
            position: absolute;
            height: 5px;
            background: $boldtext;
            width: 150px;
            top: 2rem;
            border-radius: 3px;
          }
        }
      }
      @media screen and (max-width: $break-small) {
        a {
          font-size: 12px;
        }
        .active {
          position: relative;
          margin: 10px 40px 20px;
          &:first-of-type {
            margin-top: 1.25rem;
            &:before {
              content: "";
              position: absolute;
              height: 4px;
              background: $boldtext;
              width: 60px;
              top: 2rem;
              border-radius: 3px;
            }
          }
        }
      }
      @media (min-width: $break-middle) {
        a {
          font-size: 16px;
        }
        .active {
          position: relative;
          margin: 10px 40px 20px;
          &:first-of-type {
            margin-top: 1.25rem;
            &:before {
              content: "";
              position: absolute;
              height: 4px;
              background: $boldtext;
              width: 60px;
              top: 2rem;
              border-radius: 3px;
            }
          }
        }
      }
    }

    .blog-card {
      display: flex;
      flex-direction: column;
      margin: 30px auto;
      box-shadow: $boxshadow;
      background: $wt;
      line-height: 1.4;
      font-family: sans-serif;
      border-radius: 5px;
      overflow: hidden;
      z-index: 0;
      .meta {
        position: relative;
        z-index: 0;
        height: 200px;
      }
      .photo {
        position: absolute;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 20px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          margin: 1px;
        }
      }

      .description {
        padding: 1rem;
        background: $wt;
        margin: 20px auto;
        position: relative;
        z-index: 1;

        span {
          text-transform: uppercase;
        }

        h3 {
          line-height: 0, 7;
          margin: 0;
          color: $bl;
          font-family: sans-serif;
        }

        i {
          color: $boldtext;
          margin-right: 8px;
          margin-top: 8px;
        }
        p {
          font-size: 16px;
          margin-top: 10px;
          margin-bottom: 10px;
          span {
            color: $boldtext;
          }
        }
        a {
          position: absolute;
          margin: 30px 0px 0px 40px;
          color: $boldtext;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
        }
      }

      @media (min-width: $break-small) {
        margin-top: 20px;
        flex-direction: row;
        max-width: 1000px;
        margin-left: 30px;
        .meta {
          flex-basis: 40%;
          height: auto;
          width: 100%;
        }
        .description {
          flex-basis: 40%;
          p {
            a {
              margin: 0px 2px 0px 120px;
            }
          }
          &:before {
            content: "";
            background: #fff;
            width: 30px;
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }
        &.alt {
          .description {
            &:before {
              left: inherit;
              right: -10px;
            }
          }
        }
      }

      @media (min-width: $break-middle) {
        margin-top: 20px;
        flex-direction: row;
        max-width: 1000px;
        margin-left: 60px;
        .meta {
          flex-basis: 30%;
          height: auto;
          width: 100%;
        }
        .description {
          flex-basis: 60%;
          p {
            a {
              margin: 30px 0px;
            }
          }
          &:before {
            content: "";
            background: #fff;
            width: 30px;
            position: absolute;
            left: -30px;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }
        &.alt {
          .description {
            &:before {
              left: inherit;
              right: -10px;
            }
          }
        }
      }
    }

    .view {
      text-align: center;
      display: block;
      justify-content: center;
      margin-top: auto;
      margin-bottom: 30px;
      padding: 40px 30px;

      @media screen and (max-width: $break-small) {
        margin-top: 40px;
      }

      a {
        font-size: 14px;
        padding: 10px 50px 10px 50px;
        align-items: center;
        justify-content: center;
        border: 1px solid $boldtext;
        border-radius: 30px;
        text-decoration: none;
        color: $boldtext;
      }
    }
  }
  .col-3 {
    .head {
      display: flex;
      text-align: left;
      margin: 0 auto;
      justify-content: left;
      color: $blue;
      p {
        text-decoration: none;
        margin: 30px 30px 10px;
        color: $blue;
        font-size: 24px;
        font-weight: 400;
      }

      @media screen and (max-width: $break-small) {
        margin: 20px 30px 0px;
        font-size: 18px;
      }
    }

    :root {
      --card-img-height: 250px;
    }
    .card-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      border-bottom: 2px;
      margin: 20px auto;
    }
    .card {
      margin-left: -15%;
      padding: 4px 2px;
      box-shadow: $boxshadow;
      align-self: flex-start;
      position: relative;
      width: 325px;
      min-width: 275px;
      margin: 1.25rem 0.75rem 0rem;
      background: white;

      .card-info {
        color: $bl;
        position: relative;
        h5 {
          font-size: 16px;
        }
        p {
          margin-top: 10px;
          font-size: 14px;
        }
      }
      .card-footer {
        display: flex;
        justify-content: left;
        color: $bl;
        margin-right: 0%;
        margin-top: 10px;
        background: transparent;
        .card-icons {
          padding-bottom: 5px;
          margin-top: 5px;
          img {
            display: inline;
            border: 1px solid $orange;
            border-radius: 40px;
            padding: 5px;
            margin-right: 2px;
            margin-left: 2px;
            object-fit: cover;
          }
          a {
            text-align: right;
            font-size: 16px;
            text-decoration: none;
            color: $boldtext;
            margin-left: 180px;
            margin-bottom: 80px;
            font-weight: 500;
          }
        }
      }
    }

    .card-form {
      background-color: $background-pale;
      color: $bl;
      width: 400px;
      padding: 4px;
      margin: 30px;
      box-shadow: $boxshadow;
      form {
        margin: 10px auto;
        background-color: $background-pale;
        .container {
          padding: 14px;
          background-color: $background-pale;
          h3 {
            margin-bottom: 13px;
            text-align: center;
          }
          p {
            margin-bottom: 5px;
          }
        }
        input[type="text"],
        input[type="submit"],
        input[type="email"],
        select,
        input[type="tel"] {
          width: 100%;
          padding: 12px;
          margin: 5px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        input[type="checkbox"] {
          margin-top: 16px;
          text-align: justify;
        }
        input[type="radio"] {
          margin-top: 10px;
          margin-right: 5px;
          margin-bottom: 5px;
        }

        input[type="submit"] {
          margin: 0px;
          background-color: $boldtext;
          color: white;
          border: none;
        }
        p {
          margin-top: 10px;
          font-size: 16px;
        }
        .card-footer {
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }
}

.events {
  background-color: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10%;
  .title {
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 80px auto;
    p {
      display: flex;
      justify-content: center;
      vertical-align: middle;
      padding-top: 0px;
      margin-bottom: 30px;
    }
    h1 {
      display: flex;
      justify-content: center;
      font-weight: 800;
      vertical-align: middle;
      color: $bl;
      padding-top: 40px;
      padding-bottom: 10px;

      font-size: 50px;
      span {
        color: $orange;
        margin-left: 10px;
      }
    }
  }

  .view {
    text-align: center;
    display: block;
    justify-content: center;
    margin-top: 40px;

    @media screen and (max-width: $break-small) {
      margin-top: 70px;
    }

    a {
      font-size: 15px;
      padding: 10px 50px 10px 50px;
      align-items: center;
      justify-content: center;
      border: 1px solid $boldtext;
      border-radius: 30px;
      text-decoration: none;
      color: $boldtext;
    }
  }
}

:root {
  --card-img-height: 250px;
}
.card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 2px;
}

.card {
  align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  margin: 1.25rem 0.75rem 0rem;
  background: white;
  .card-img {
    width: 100%;
    height: var(--card-img-height);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    --card-img-overlay: $gradient;
  }

  .card-info {
    position: relative;
    padding: 0.75rem 1.25rem;

    .card-title {
      z-index: 4;
      font-size: 20px;
      padding-bottom: 0.75rem;
      font-weight: 700;
    }
    .card-about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1px;
      font-size: 17px;
      text-transform: uppercase;
      color: $blue;
    }

    .card-creator {
      padding-bottom: 0.75rem;
      padding: 1px;
      align-items: center;
    }
    .card-footer {
      display: flex;
      justify-content: left;
      border-top: 1px solid $boldtext;
      color: $bl;
      margin-right: 0%;
      margin-top: 10px;
      background: transparent;
      p {
        margin: 4px 4px 0px 0px;
        i {
          color: $boldtext;
        }
        p {
          display: flex;
          justify-content: space-between;

          color: $bl;
          font-size: 15px;
          margin-top: 30px;
          color: $orange;
        }
      }
      a {
        text-align: right;
        font-size: 18px;
        text-decoration: none;
        color: $boldtext;
        margin-left: 110px;
        margin-top: 10px;
      }
    }
  }
}

.card-1 {
  .card-img {
    background-image: url(../img/ppl5.jpg);
  }
}

.card-2 {
  .card-img {
    background-image: url(../img/ppl4.jpg);
  }
}

.card-3 {
  .card-img {
    background-image: url(../img/ppl3.jpg);
  }
}

.join {
  width: 100%;
  min-height: 350px;
  padding-top: 0px;
  margin: 80px 0px 0px 0px;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  position: relative;
  background-color: black;
  img {
    min-width: 100%;
    max-height: 360px;
    width: auto;
    height: auto;
    opacity: 0.4;
    object-fit: cover;
  }
  .mainInfo {
    .overlay {
      margin: 90px 157px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .text {
      color: $wt;
      display: inline;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      margin: 50px auto;
      h2 {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        padding-top: 10px;
      }
      h1 {
        display: flex;
        justify-content: center;
        font-weight: 800;
        vertical-align: middle;
        color: $orange;
        padding-bottom: 20px;
        word-spacing: 5px;
        font-size: 50px;
      }
    }
  }
  @media screen and (max-width: $break-small) {
    .mainInfo {
      .overlay {
        margin: 40px 10px;
      }
      .text {
        font-size: 25px;
        margin: 10px auto;
        h2 {
          font-size: 30px;
        }
        h1 {
          font-size: 30px;
          display: flex;
        }
      }

      display: flex;
      justify-content: center;
      margin: 0px;
      padding: 0px 0px;
    }
  }
}
.join-button {
  text-align: center;
  display: block;
  justify-content: center;
  margin-top: 40px;
  @media screen and (max-width: $break-small) {
    margin-top: 40px;
  }

  a {
    font-size: 15px;
    padding: 10px 50px 10px 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid $wt;
    border-radius: 30px;
    text-decoration: none;
    color: $wt;
  }
}
